<div class="country-card">
{{#each this}}
    <div class="flag">
    <img src="{{flags.svg}}" alt="" class="country-flag" width="360">
</div>
<p class="country-name">Name official: {{name.official}}</p>
<p class="country-capital">Capital: {{capital}}</p>
<p class="country-population">Population: {{population}}</p>  
<p class="country-list__languages">Languages: {{#each languages}}
    <span>{{this}}.</span>
{{/each}}</p>
{{/each}}
</div>